<div class="landingpagebg">
  <div class="container">
    <div class="mainsloganbox">
      <h1>We build beautiful web apps.</h1>
    </div>
  </div>
  <div class="learnmorebox">
    <a href="#about">Learn more about what we do <img class="chevrondown"src="/chevrondown.png" alt="" /></a>
  </div>
</div>

<div id="about" class="">
  <div class="container">

    <h4 class="abouttitle">We are a leading provider of web and smartphone applications</h4>
  </div>
  <div class="container aboutmessagebox">
    <div class="five columns">
      <img src="/devices.jpg" alt="" /><br>
      <a href="/products">Check out some of our projects.</a>
    </div>
    <div class="seven columns">
      Sky Highways began with the union of software and transportation industry experts. In the last few years, we've led the successful shipment of over 100 million products worldwide.
      Our industry veterans have over 15 years of experience in developing software products, ranging from private to public, city-scale solutions. We also offer custom consulting and application development services.

      <br>
      <br>

    </div>
  </div>

  <div class="leadershipbox">
    <div class="container">
      <span class="greytop">
      </span>
      <h5 class="leadertitle">Leadership</h5>
    </div>
      <div class="container">
        <div class="three columns">
          <img src="/prof.jpg" alt="" />
          <h5>Tom Yang</h5>
          <p>CEO, CFO, CTO</p>
        </div>
        <div class="three columns">
          <img src="/prof.jpg" alt="" />
          <h5>Tom Yang</h5>
          <p>CEO, CFO, CTO</p>
        </div>
        <div class="three columns">
          <img src="/prof.jpg" alt="" />
          <h5>Tom Yang</h5>
          <p>CEO, CFO, CTO</p>
        </div>
        <div class="three columns">
          <img src="/prof.jpg" alt="" />
          <h5>Tom Yang</h5>
          <p>CEO, CFO, CTO</p>
        </div>
      </div>

  </div>

  </div>

  <div id="contact" class="">
    <img class="mapimg" src="/usmap.svg" alt="" />
    <h3>Work With Us!</h3>
    <div class="container locationtable">
      <div class="one-half column">
        <h5>West Coast</h5>
        4096 Piedmont Avenue, Oakland, CA 94611
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="">
          <a href="tel:919-636-9995">+1 919 636 9995</a><br>
          <a href="mailto:info@skyhighways.com">info@skyhighways.com</a>
        </div>



      </div>
      <div class="one-half column">
        <h5>East Coast</h5>
        108 East Main Street,	Chapel Hill, NC	27510

      </div>
    </div>
    <div class="container">

    </div>


  </div>
