<div class="landingpagebg">

  <video autoplay loop id="bgvid">
    <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm" type="video/webm">
  </video>

  <div class="container">
    <div class="mainsloganbox">

      <h1>Beautiful Apps</h1>
    </div>
  </div>
  <div class="learnmorebox">
    <a href="#about">Learn more about what we do <img class="chevrondown"src="/chevrondown.png" alt="" /></a>
  </div>
</div>

<div id="about" class="">
  <!-- Clouds scrolling through screen
  <div class="cloud x1"></div>
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
  -->
  <div class="container">

    <h4 class="abouttitle">We are the leading provider of web and smartphone applications<br> in the transportation industry.</h4>
  </div>
  <div class="container aboutmessagebox">
    <div class="five columns leftabout">
      <img src="/devices.png" alt="" /><br>
      <a href="/products">Check out some of our projects.</a>
    </div>
    <div class="seven columns rightabout">
      Sky Highways began with the union of software and transportation industry experts. In the last few years, we've led the successful shipment of over 100 million products worldwide.
      Our industry veterans have over 15 years of experience in developing software products, ranging from private to public, city-scale solutions. We also offer custom consulting and application development services.

      <br>
      <br>

    </div>
  </div>

  <div class="leadershipbox">
    <div class="container">
      <span class="greytop">
      </span>
      <h4 class="leadertitle">Leadership</h4>
    </div>
      <div class="container">
        <div class="three columns">
          <img src="/prof.jpg" alt="" />
          <p><span class="leadername">Tom Yang</span> <br>
          Founder, Senior Project Manager</p>
        </div>
        <div class="three columns">
          <img src="/prof.jpg" alt="" />
          <p><span class="leadername">Hugh</span> <br>
          Founder, CEO</p>
        </div>
        <div class="three columns">
          <img src="/prof.jpg" alt="" />
          <p><span class="leadername">John</span> <br>
          Founder, CTO</p>
        </div>
        <div class="three columns">
          <img src="/prof.jpg" alt="" />
          <p><span class="leadername">Andrew</span> <br>
          Partner, Senior Developer</p>
        </div>
      </div>

  </div>

  </div>

  <div id="contact" class="">
    <img class="mapimg" src="/usmap.svg" alt="" />
    <h3>Work With Us!</h3>
    <div class="container locationtable">
      <div class="one-half column">
        <h5>West Coast</h5>
        4096 Piedmont Avenue, Oakland, CA 94611
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="">
          Phone: <a href="tel:919-636-9995">+1 919 636 9995</a><br>
          Email: <a href="mailto:info@skyhighways.com">info@skyhighways.com</a>
        </div>



      </div>
      <div class="one-half column">
        <h5>East Coast</h5>
        108 East Main Street,	Chapel Hill, NC	27510

      </div>
    </div>
    <div class="container">

    </div>


  </div>
