<div class="padheader">
<div class="container">
<div class="greytop">

</div>
<div class="jobscontent">
  <h5>Full Time Opportunities</h5>

  <p>
    Sky Highways is growing rapidly. We are seeking talented people with experience in mobile application development (iOS/Android) or web (HMTL/PHP/RUBY/Python) technologies.

    Software Engineer: If you have 2 or more years software engineering experience, contact us about joining our team of experienced software engineers and gain a unique insight into the exciting world of mobile apps. We offer a competitive compensation package and a flexible working environment and provide access to the latest tools and regular in house training on the latest software techniques.

    <br><br> Please submit your resume to: <a href="mailto:jobs@skyhighways.com">jobs@skyhighways.com</a>.
  </p>

  <h5>Student Opportunities</h5>

  <p>
    We are always looking for motivated people to join us in our mission of developing leading edge mobile technology. We provide year-round and summer experience for intern students currently studying software engineering in a university or college environment. In collaboration with the leading local education institutions, UNC-CH,NC State and Duke Universities, Sky Highways offers opportunities to work on the latest mobile technology and gain valuable real world project experience in mobile application design and the life cycle of modern applications.

    <br><br>Send inquiries to: <a href="mailto:jobs@skyhighways.com">jobs@skyhighways.com</a>.
  </p>

</div>
</div>
</div>
