<div class="padheader">
  <div class="container">
    <div class="greytop">
    </div>
    <h3>Recent  announcements</h3>
  </div>
  <div class="container newsbox">
    <div class="one-third column">
      <p>
        April 2012, San Francisco, CA
      </p>
      <p>
        March 2012, Fort Worth, TX
      </p>
      <br>
      <p>
        June  2011, Boston, MA
      </p>
    </div>
    <div class="two-thirds column">
      <p>
        <a href="http://www.sfmta.com/cms/asite/muniapp.htm">Sky Highways and SFMTA announce the Muni+ App for commuters in San Francisco</a>
      </p>
      <p>
        <a href="http://apta.com/mc/fctt/program/Pages/SessionDescriptions.aspx">Smartphone app offers new revenue stream for transit operators announced at APTA Fare Collection Workshop</a>
      </p>
      <p>
        <a href="http://www.apta.com/mc/rail/previous/2011/schedule/Pages/SessionDescriptions.aspx?New%20Fare%20Collection%20Systems">Sky Highways presents New Fare Collection Systems technical paper at APTA Rail conference</a>
      </p>
      <p>

      </p>
      <p>

      </p>
    </div>


</div>

</div>
