.actionbox{
  padding-top: 20px;
  padding-bottom: 10px;
  background:black;
  color:white;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}
.missionbox{
  //min-height: 700px;
  //height:100vh;
  position:relative;
  padding-bottom: 140px;
}

#about{

  //cloud stuff
  .cloud {
	width: 200px; height: 60px;
	background: #fff;

	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;

	position: relative;
  }

  .cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;

	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

//animation time
.x1 {
	//-webkit-animation: moveclouds 30s linear infinite;
	//-moz-animation: moveclouds 30s linear infinite;
	//-o-animation: moveclouds 30s linear infinite;
  top:140px;
  left:500px;
}

.x2 {
	left: 800px;
  top:100px;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/

	/*Speed will also be proportional to the size and opacity*/
	-webkit-animation: moveclouds 50s linear infinite;
	-moz-animation: moveclouds 50s linear infinite;
	-o-animation: moveclouds 50s linear infinite;
}

.x3 {
	left: 1250px; top: 200px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

//	-webkit-animation: moveclouds 40s linear infinite;
	//-moz-animation: moveclouds 40s linear infinite;
	//-o-animation: moveclouds 40s linear infinite;
}

.x4 {
	left: 470px; top: 100px;

	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/

	//-webkit-animation: moveclouds 36s linear infinite;
	//-moz-animation: moveclouds 36s linear infinite;
	//-o-animation: moveclouds 36s linear infinite;
}

.x5 {
	left: 900px; top: 150px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

	//-webkit-animation: moveclouds 40s linear infinite;
	//-moz-animation: moveclouds 40s linear infinite;
	//-o-animation: moveclouds 40s linear infinite;
}

/*
@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1500px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1500px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1500px;}
}*/

  a{
    text-decoration: none;
  }
  .leftabout{
    text-align: center;

    img{
      height:170px;
    }
  }

  .rightabout{
    font-size: 1.14em;
  }

  //height:1100px;
  //text-align: center;
  h4{
    text-align: center;
    padding:0;
  }
  .abouttitle{
    padding-top: 10%;
    //margin-top: -140px;
    padding-bottom: 10%;
    text-align: center;
    span{
      text-decoration: underline;
    }
  }
  .aboutmessagebox{
    padding-bottom: 60px;
  }


  .leadershipbox{
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
    //padding-top: 30px;
    padding-bottom: 90px;
    text-align: center;

    div{
      padding-top: 80px;
      div{

        //border:1px solid black;
        height:350px;
        padding:0;
        img{
          height:250px;
          width:100%;
        }
        p{
          text-align: center;
          font-size: 0.8em;
          font-style: italic;
        }

      }
    }

    .leadertitle{
      text-align: center;
      //font-weight: bold;
    }

    .leadername{
      font-weight: bold;
      font-size: 1.8em;
      font-style: normal;
    }
  }


}

@media (max-width: 768px){
  .rightabout{
    line-height: 1.3em;
    font-size: 0.9em;
  }
}
