.mainfooter{
  background:black;
  color:white;
  height:100px;
  padding-top: 30px;

  p{
    float:left;
  }

  nav{
    float:right;

    a{
      margin-left: 25px;
      text-decoration:none;
    }
  }
}


#wrapper{
  min-height: 100%;
  height: auto !important;
  height:100%;
  background:none;
  //padding-bottom:40px;
}
