//video positioning
#bgvid{
    position: absolute;
    left:0;
    top:0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
#pauseb{
  position:absolute;
  bottom:0;
  left:2%;
  border:none;
  color:black;
  font-weight: bold;
  z-index: 20;
}

.landingpagebg{
  //z-index: -1;
  background-image: image-url("/paper2.jpg");
  background-size: cover;
  text-align:center;
  width:100%;
  height:100vh;
  position:relative;
  overflow: hidden;

  .learnmorebox{
    position:absolute;
    width:100%;
    left:0px;
    bottom:2%;
    font-size:1.2em;

    //background: linear-gradient(top, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, 1) 100%);
    //z-index: 9;

    a{
      color:white;
      text-decoration: none;
      background: rgba(1, 1, 1, 0.1);
      padding: 5px;
      border-radius: 4px;
    }
  }
}

.mainsloganbox{
  height:100%;
  color:white;
  h1 {
    width:100%;
    line-height:100vh;
    span{
      font-style: italic;
      font-weight: bold;
    }
  }
}

.chevrondown{
  width:15px;
}



#contact{

  padding-top: 50px;

  .mapimg{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    opacity: 0.1;
  }
  height:500px;
  position:relative;
  background:none;

  h3{
    text-align: center;
  }


  .locationtable{

    padding-top: 5%;
    text-align: center;
    div{
        text-align: right;
        padding-right: 18%;
        a{
          text-decoration: none;
        }
    }

  }
}

@media (max-width: 768px){
  .mainsloganbox{
    h1{
      font-size: 1.25em;
    }
  }
}
