.productsbox{
  overflow: hidden;
  .container{

    height: 500px;
  }
}

.movingphonebox{
  background:black;
  height:400px;
  width:260px;
  position:absolute;
  right:0;
  top:0;
  color:white;
}
