// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.padheader{
  padding-top: 120px;
}

.greytop{
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.newsbox{
  padding-top: 50px;
}
