<div class="mainfooter">
  <div class="container">
    <p>
      © 2014 Sky Highways, Inc. All rights reserved.
    </p>

    <nav>
      <a href="/jobs">jobs</a>
      <a href="#">news</a>
      <a href="#">contact</a>
    </nav>
  </div>
</div>
