<header class="mainheader">

  <div class="container">
    <a href="/" class="logobox">
      <img src="/bannerlogo2.gif" alt="" />
    </a>
    <div class="headernavbox">
      <nav>

        <a href="/#about">Company</a>
        <a href="/#leadership">Consulting Services</a>
        <a href="/#contact">Contact</a>
      </nav>
    </div>
    <div class="contactheader">
      <a href="mailto:info@skyhighways.com">CONTACT</a>
    </div>
  </div>
</header>
