<header class="mainheader">

  <div class="container">
    <a href="/" class="logobox">
      <img src="/bannerlogo.gif" alt="" />
    </a>
    <div class="headernavbox">
      <nav>

        <a href="/#about">Company</a>
        <a href="/products">Expertise</a>
        <a href="#">Consulting Services</a>
        <button id="pauseb" type="button" name="button">PAUSE</button>
      </nav>
    </div>
  </div>
</header>
