<header class="mainheader">

  <div class="container">
    <a href="/" class="logobox">
      <img src="/bannerlogo.gif" alt="" />
    </a>
    <div class="headernavbox">
      <nav>
        <a href="/#about">Company</a>
        <a href="/products">Products</a>

        <a href="#">Consulting Services</a>
      </nav>
    </div>
  </div>
</header>
