<header class="mainheader">

  <div class="container">
    <a href="/" class="logobox">
      <img src="/bannerlogo.gif" alt="" />
    </a>
    <div class="headernavbox">
      <nav>
        <a href="#about">Products</a>
        <a href="#expertise">Expertise</a>
        <a href="#">Consulting Services</a>
        <a href="#">Team</a>
      </nav>
    </div>
  </div>
</header>
